body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
    text-align: center;
    background: #e6f7ff;
}

h1 {
    color: #f4f4f9;
}

form {
    margin-top: 20px auto;
    display: inline-block;
    padding: 20px;
    background: #faf3e0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

button {
    margin-top: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: #c748a1;
    color: white;
    padding: 10px 20px;
}

button:hover {
    background: #0056b3;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
    color: #b5540e;
}




